<ion-view title='<img width="300" src="img/ldi-full.png">'>
    
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="row-fluid" align="center">
            <iframe width="320" height="180" src="https://www.youtube.com/embed/R313qI2aWGs" frameborder="0" allowfullscreen=""></iframe>
            <p>
                Founded in 1996 by Andy McKean and his late wife, Kathy, the Liberty Day Institute (formerly “Liberty Day”) is a nonprofit 501(c)(3), nonpartisan organization dedicated to educating all Americans, but especially the next generation, about the contents
                of the Constitution of the United States.
            </p>
            <p>
                We are about working with educators and community organizations to ensure that every child in America knows and understands the essentials of our founding documents. Unlike many self-described nonpartisan organizations, the Liberty Day Institute truly
                strives to be just that. We reach out to Democrats and Republicans alike and have received endorsements from numerous members of both parties, along with independents. The Institute is firmly dedicated to our long-held principle of educating
                youth with no opinions and no interpretations—<b>just the facts</b>.
            </p>
        </div>
        <a href="#" onclick="window.open('http://libertyday.org/', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-small button-full">See Our Website!</a>
      </div>
    </ion-content>
</ion-view>
