<ion-view view-title="Subjects">
  <ion-content>
    <!--Builds the list of all of the subjects and Easy Medium Hard buttons
        <div class="card list" ng-repeat="subject in subjects">
        <div class="item item-divider">
            <center>{{subject}}</center>
        </div>
        <div class="button-bar">
            <a class="button" href="#app/questions/{{subject}}">Easy</a>
            <a class="button" href="#app/questions/{{subject}}">Medium</a>
            <a class="button" href="#app/questions/{{subject}}">Hard</a>
        </div>
    </div>-->
    <a class="button button-block" href="#app/questions/{{subject}}">Questions</a>
  </ion-content>
</ion-view>
